@charset "UTF-8";
@import url('https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.4/angular-material.min.css');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.2/bootstrap-material-design.min.css');

#corpo-page {
  height: 100vh;
}

#corpo-page #conteudo {
  height: 100vh;
  overflow-y: scroll;
}

.menu{
  box-shadow: rgba(140, 130, 130, 0.51) 0px 3px 8px 0px;
}

md-tooltip .md-content {
  position: relative;
  opacity: 1;
  background: #564f52;
}

.no-outline {
  outline: 0;
} 

.no-padding{
  padding: 0;
}

.pointer {
  cursor: pointer;
}

.back-top {
  margin: 0px 8px 0px 0px !important;
}

#menu-movel md-list-item i {
  top: 11px;
  left: 20px;
  position: absolute;
}

#menu-movel md-list-item span {
  margin-left: 46px;
}

.navbar-search input {
  margin-top: 26px;
}